*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Project specific stuff
*.so
*.png
MANIFEST
*.swp
*_log.txt
empy_exec_test.*
*.ami
*.ibs
*.old
*.orig
*.rej

# Temporary files
.*

tests/examples/out
Pipfile*
tests/examples/test_results
htmlcov
