include README.md
include LICENSE
include src/pyibisami/tools/test_results.xsl
include src/pyibisami/ami/generic.ami.em
include src/pyibisami/ami/generic.ibs.em
recursive-include docs/source *
recursive-include examples *
